#find-location-modal .modal-body #location-map{
	height:400px;
	display:none;
}
#find-location-modal .modal-body #location-map #map-canvas{
	height:100%;
	width:100%;
}
#find-location-modal .modal-body #location-map #map-canvas img{
	max-height:inherit;
}
.panel-body{
	padding:0;
}

#location-suggestions .panel-body table tbody tr td:hover{
	background-color:#ed9c28;
	//opacity:0.05
}